@import 'var';

.list_food {
    margin     : 0 203px 0 203px;
    padding-top: 200px;

    .food {
        text-transform: uppercase;
        font-weight   : bold;
        width         : 100%;
        height        : fit-content;
        margin-bottom : 50px;

        .title_food {
            display: flex;

            p {
                font-size: 25px;
            }

            hr {
                border     : 1px black solid;
                width      : 100%;
                margin-left: 10px;
            }
        }

        .name_food {
            position      : relative;
            box-sizing    : border-box;
            width         : 100%;
            display       : flex;
            margin-top    : 20px;
            flex-direction: row;
            flex-wrap     : wrap;

            div {
                width        : 23%;
                margin-right : 15px;
                border       : 1px solid black;
                border-radius: 5px;
                position     : relative;
                margin-bottom: 50px;


                div {
                    width : 100%;
                    border: none;
                    margin: 0;

                    img {
                        height: 285px;
                    }

                    p {
                        text-align: left;
                        padding   : 10px;
                        margin    : 0;
                    }
                }

                .content_food {
                    margin-top   : 10px;
                    margin-bottom: 20px;

                    p {
                        text-transform: none;
                        font-weight   : normal;
                        font-size     : 13px;
                        height        : 70px;
                    }

                    div {
                        display        : flex;
                        justify-content: space-between;
                    }

                }

                button {
                    border          : none;
                    background-color: $primary-color;
                    box-shadow      : none;
                    text-decoration : none;
                    color           : white;
                    border-radius   : 20px;
                    position        : absolute;
                    left            : 50%;
                    transform       : translate(-50%, -50%);
                    width           : 80%;
                    height          : 40px;
                }
            }
        }
    }
}