@import 'var';

.header {
    height          : 103px;
    background-color: rgb(252, 186, 43);
    z-index         : 100;
    line-height     : 54px;
    margin-bottom   : 1px;
    display         : flex;
    justify-content : space-between;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;

    .logo {
        height     : 100%;
        display    : inline-block;
        margin-left: 203px;

        img {
            height: 100%;
        }
    }

    .icon-header {
        height         : 100%;
        margin-right   : 203px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        .icon {
            height          : 50px;
            width           : 50px;
            margin-right    : 20px;
            border-radius   : 50%;
            background-color: white;

            i {
                font-size: 30px;
            }
        }

    }
}

img {
    width: 100%;
}