@import 'var';

.list_food {
    margin: 103px 203px 0 203px;

    .category {
        text-transform: uppercase;
        font-weight   : bold;
        width         : 100%;
        height        : fit-content;
        margin-bottom : 50px;

        .title_category {
            display: flex;

            p {
                font-size: 25px;
            }

            hr {
                border     : 1px black solid;
                width      : 80%;
                margin-left: 10px;
            }
        }

        @media screen and (max-width:1366px) {
            .title_category {
                p {
                    font-size: 20px;
                }

                hr {
                    width: 75%;
                }
            }
        }

        .name_category {
            position      : relative;
            box-sizing    : border-box;
            width         : 100%;
            display       : flex;
            margin-top    : 20px;
            flex-direction: row;
            flex-wrap     : wrap;

            a:hover {
                text-decoration: none;
            }

            a {
                width        : 23%;
                color        : black;
                margin-right : 2%;
                margin-bottom: 5vh;

                div {
                    width        : 100%;
                    border       : 1px solid black;
                    border-radius: 5px;

                    div {
                        width : 100%;
                        border: none;
                        margin: 0;

                        img {
                            height: auto;
                        }

                        p {
                            text-align: left;
                            padding   : 10px;
                            margin    : 0;
                        }
                    }
                }
            }

        }
    }

    .order_food {
        margin     : 0;
        padding-top: 0;
    }

}