@import 'var';

.NavBar {
    background-color: $primary-color;
    width           : 1000px;
    height          : 80px;
    border-radius   : 10px;
    border          : white 2px solid;
    justify-content : center;
    margin          : 0 auto;
    margin-top      : 103px;
    text-transform  : uppercase;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 100;
    border-collapse : collapse;

    .nav_container {
        width : 100%;
        height: 100%;

        ul {
            padding        : 0px;
            width          : 100%;
            height         : 100%;
            list-style     : none;
            display        : flex;
            justify-content: center;
            align-items    : center;

            li {
                width          : 200px;
                font-weight    : bold;
                display        : flex;
                justify-content: center;
                align-items    : center;
                height         : 70%;
                border-right   : white solid 2px;

                a {
                    margin         : 0px;
                    text-decoration: none;
                    color          : white;
                }
            }
        }
    }
}