.DetailProduct {
    width: 55%;
    float: left;
    min-height: 200px;
    min-width: 200px;
    border-radius: 10px;
    margin: 20px;
}

.DetailPrice {
    width: 40%;
    border: 1px solid red;
    border-radius: 10px;
    margin: 20px;
    float: right;
    padding: 20px;
}

.cart-product-image {
    align-items: center;
    padding-top: 30px;
    height: 150px;
    width: 150px;
    background-color: #f8f8f9;
}

table.shoping-cart-table {
    background-color: red;
    border-radius: 10px;
}

table.shoping-cart-table tr td {
    border: none;
}


.DetailProduct a {
    text-decoration: none;
    color: white;
}

.DetailProduct p{
    color: white;
    Font-size: 16px;
}

.DetailPrice p{
    color: red;
    Font-size: 16px;
}

.DetailPrice h4{
    color: red;
}


.DetailProduct dd{
    color: white;
}

.DetailProduct h4{
    color: white
}